@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2BD17E;
  --error :  #EB5757;
  --background: #093545;
  --inputColor: #224957;
  --cardColor: #092C39;
}

/* In globals.css */
body {
  font-family: var(--font-montserrat), sans-serif;
}